<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="add-element">
	<template>
		<style>
			:host{
				display: block;
				background: #11111117;
				text-align: center;
    			
			}
			.input{
				position: relative;
				margin: 0 auto;
				display: block;
			}
			h1{
				    font-size: 1.3rem;
			}

		</style>
		<h1>Escribe tu tarea a guardar</h1>
		<input class="input" id="nombretarea" type="text" name="tarea"/>
		<button on-click="_sendbtn">guardar</button>
	</template>

	<script>
		class AddElement extends Polymer.Element{
			static get is(){
				return 'add-element'
			}

			static get properties(){
				return {}
			}

			_sendbtn(event){
				console.log("btn"+ this.$.nombretarea.value)
				this.dispatchEvent(new CustomEvent('send',{detail: {
					name: this.$.nombretarea.value
				}}))
				this.$.nombretarea.value  ='';
			}

			ready(){
				super.ready()
				console.log("SOY APP ELEMENT");
			}

		}
		customElements.define(AddElement.is, AddElement);
	</script>
</dom-module>