<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="filter-list">
	<template>
		<style>
			:host{
				display: block;
			    background: #1212121f;
			    text-align: center;
			}
			h1{
				    font-size: 1.3rem;
			}
		</style>
		<h1>Si no encuentras alguna puedes filtrarlas</h1>
		<input type="text" name="tarea" on-input="_cambioPalabra"/>
	</template>

	<script>
		class FilterList extends Polymer.Element{
			static get is(){
				return 'filter-list'
			}

			static get properties(){
				return {}
			}

			_cambioPalabra(event){
				this.dispatchEvent(new CustomEvent('changefilter',{detail: {
					name: event.target.value
				}}))
			}

		}
		customElements.define(FilterList.is, FilterList);
	</script>
</dom-module>