<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="lista-element">
	<template>
		<style>
			:host{
				display: block;
			    background: #b8d494;
			    text-align: center;
			}
			.caja{
				       display: block;
    margin-bottom: auto;
    border: solid 2px #5d4a4a78;
    margin: 0 auto;
    max-width: 400px;
    padding: 22px;
    border-radius: 12px;
			}
			h1{
				    font-size: 1.3rem;
			}
		</style>
		<h1>Las tareas ya Guardadas son</h1>
		
		
		<template is="dom-repeat"  items="{{tareas}}" filter="{{_myfilter(filter)}}" >
		
				<div class="caja">
					<input disabled$="{{item.disable}}" id="chekelement" type="checkbox"
					on-change="_check">
					<span>{{item.name}}</span>
				<div>

		</template>
	</template>

	<script>
		class ListaElement extends Polymer.Element{
			static get is(){
				return 'lista-element'
			}

			static get properties(){
				return {
					tareas:{
						type: Object
					},
					filter:{
						type: String,
						value: '',
						notify: true
					},
					empty:{
						type: Boolean,
						value: true
					}

				}
			}

			_myfilter(filtro){
				console.log("filtro");
				console.log(filtro);
				return function(item){
					console.log(item);
					return item.name.toLocaleUpperCase().indexOf(filtro.toLocaleUpperCase())>-1;
				}
				
			}

			_check(item){
				console.log(item.model.index+'');
				this.set('tareas.'+item.model.index+'.disable', true);
				this.notifyPath('tareas.'+item.model.index+'.disable')
				console.log('tareas.'+item.model.index+'.disable');
			}

			ready(){
				super.ready()
				console.log("filter");
				console.log(this.tareas);
			}

		

			

		}
		customElements.define(ListaElement.is, ListaElement);
	</script>
</dom-module>