<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="general-container">
    <template>
        <style>
            :host{
                display: block;
                position: relative;
                padding: 0 2rem;
            }
            .title{
                text-align: center;
                background-color: #6666;
                padding: 3rem;
            }
            .detail{
                box-sizing: border-box;
                text-align: center;
                background-color: #1212;
                padding: 3rem;
                display: flex;
            }
        </style>
        <div class="title">
            <slot name="title">you must</slot>
        </div>
        <div class="detail">
        <slot></slot>
        </div>
    </template>
    <script>
    class GeneralContainer extends Polymer.Element{
        static get is(){
            return 'general-container'
        }
        static get properties(){
            return {}
        }

    }
    customElements.define(GeneralContainer.is,GeneralContainer);
    </script>
</dom-module>