<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="poke-list.html">
<dom-module id="poke-region">
    <template>
        <style>
            :host{
                display: block;
                position: relative;
            }
        </style>
    
        <poke-list on-capture="_capture" filter="[[filter]]" pokemons="{{pokemosRegion}}">
                <h2 slot="title" class="title">Lista de pokemonos de </h1>
                <h4>[[region]]</h4>
        </poke-list>

        <iron-ajax
            auto 
            url="[[baseUrl]]/[[region]]"
            on-response="_loadAjaxPokemons"
            handle-as="json"
            debounce-duration="300"
            on-error="_handleError"
            last-response="{}"
        >
        </iron-ajax>

    </template>
    <script>
    class PokeRegion extends Polymer.Element{
        static get is(){
            return 'poke-region'
        }

        static get properties(){
            return {
                filter:{
                    type: Object,
                    notify: true
                },

                baseUrl: {
                    type: String
                },

                region: {
                    type: String
                },

                pokemosRegion:{
                    type: Object
                }
            }
        }
        ready(){
            super.ready();
            console.log(this.baseUrl+"/"+this.region);
        }

         /*iron-ajax response*/
         _loadAjaxPokemons(event){
                this.pokemosRegion = event.detail.response;
                //solo en readonly this._setPokemons(event.detail.response);
        }

        /*iron-ajax error*/
        _handleError(event){
                console.error(event.detail)
        }

        _capture(event){
            console.log(event.detail.model)
            event.detail.model.set('item.caputered',true);
            //const path = 'pokemosRegion.'+ event.detail.model.index + '.caputered';
            //this.set(path,true);
        }
    }
    customElements.define(PokeRegion.is, PokeRegion);
    </script>
</dom-module>