<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="poke-search.html">
<link rel="import" href="general-container.html">
<link rel="import" href="poke-region.html">

<dom-module id="poke-app">
    <template>
        <style>
            :host{
                display: block;
            }
            .list{
                width: 100%;
                height: 100%;
                position: relative;
            }
            .loader{
                width: 100%;
                height: 100%;
                background: white;
                position: absolute;
                text-align: center;
            }
            .img{
                position: relative;
                top: 50%;
                
            }
            .header{
                margin-bottom: 12px;
            }
            
        </style>

        <general-container>

            <div class="header" slot="title">
                <span>Escribe el nombre de un pokemon</span>
                <poke-search on-search="_newSearch"></poke-search>
            </div>

            <div class="list" >
                <poke-region filter="[[search]]" 
                base-url="http://localhost:3000" 
                region="paleta"></poke-region>
            </div>
        </general-container>
        
        <template is="dom-if" if="{{loading}}">
                <div class="loader">
                <img class="img" src="https://loading.io/spinners/gears/lg.dual-gear-loading-icon.gif"/>
                </div>
        </template>
        
    </template>
    <script>
    class PokeApp extends Polymer.Element{
        static get properties(){
            return {
                loading: {
                    type: Boolean,
                    value: true,
                    notify: true
                },
                search:{
                    type: Object,
                    notify: true
                }
            }
        }

        static get is(){
            return 'poke-app'
        }

        ready(){
            super.ready();
            setTimeout(() => {
                this.loading = false;
            }, 2000);
        }

        _newSearch(event){
            event.stopPropagation();
            console.log(event.detail);
            this.set('search',event.detail);
        }
    }
    customElements.define(PokeApp.is, PokeApp);
    </script>
</dom-module>