<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="poke-card.html">
<dom-module id="poke-list">
    <template>
        <style>
        :host{
            display: block;
        }
        .card{
            float: left;
            margin-left: 15px;
        }
        h2{
                font-size: 2rem;
                background: none;
            }
        ::slotted(.title){
            font-size: 3rem;
            color: royalblue;
        }
        </style>
        
        <slot name="title" class="title" >
            <h2 >titulo por default de la lista</h2>
        </slot>
        <slot ><h2>titulo por default de la lista</h2></slot>
        <template is="dom-repeat" items="{{pokemons}}" filter="{{_filerPokemon2(filter)}}" observe="caputered">
                <poke-card class="container card" pokemon='{{item}}' on-click="_capture" on-pokemons-changed="_onclickpokemon"></poke-card>
        </template>
        
    </template>
    <script>
        class PockeLits extends Polymer.Element {
            constructor(){
                super();
                //this.addEventListener('pokemons-changed',this._onclickpokemon);
            }
            static get properties(){

                return {
                    filter:{
                        type: String
                   },
                    pokemons:{
                        type: Array,
                        value: [],
                        notify: true
                    },
                    selected:{
                        type: Boolean,
                        value: false
                    }
                }
            }

            static get is(){
                return 'poke-list'
            }
            
            ready(){
                super.ready();
               /* setTimeout(()=>{
                   const pokemon = {
                                    name: 'tres',
                                    icon: 'https://vignette.wikia.nocookie.net/pokemon/images/2/26/133Eevee_Pokemon_Mystery_Dungeon_Red_and_Blue_Rescue_Teams.png/revision/latest?cb=20150106012220',
                                    type: 'plant',
                                    batallas: ['w','w','w','d','l'],
                                    caputered: false
                            };
                    this.push('pokemons', pokemon);
                    this.pokemons[2].type='none';
                },2000);*/

            
            }

            _onclickpokemon(event){
                console.log(event);
            }

            

            /*_loadPokemons(){
                fetch('http://localhost:3000/pokemons').then((response)=> response.json()).then((response)=>{
                    this.pokemons = response;
                }).catch(console.error);
            }*/
            _capture(event){
                /*const index = event.model.index;
                const path = 'pokemons.'+ index + '.caputered';
                console.log(path);
                this.set(path,true);
                console.log(event.model.item);*/
                event.model.set('item.caputered',true);
            }

            _filerPokemon(item){
               return !item.caputered;
               
            }

            _filerPokemon2(filter){
                if(!filter.palabra && !filter.onlywild){
                    return null
                }
                return function(pokemon){
                    if(filter.onlywild){
                        return !pokemon.caputered && pokemon.name.indexOf(filter.palabra)>-1;
                    }else{
                        return pokemon.name.indexOf(filter.palabra)>-1;
                    }
                }
            }

            ordenaPokemon(itema, itemb){
                console.log(itema.name+" -> "+ itemb.name);
                let nameA = itema.name.toUpperCase(); 
                let nameB = itemb.name.toUpperCase(); 
                if(nameA === nameB){
                    return 0;
                 }
                return  nameA > nameB ? 1: -1;

            }
        }
        customElements.define(PockeLits.is, PockeLits);
    </script>
</dom-module>